/* ------------------------RESET------------------------ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: ;
}

a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------FONTS------------------------ */

/* ibm-plex-sans-300 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/ibm-plex-sans-v14-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/ibm-plex-sans-v14-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ibm-plex-sans-v14-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/ibm-plex-sans-v14-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/ibm-plex-sans-v14-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ibm-plex-sans-v14-latin-300.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/ibm-plex-sans-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/ibm-plex-sans-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ibm-plex-sans-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/ibm-plex-sans-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/ibm-plex-sans-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/ibm-plex-sans-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/ibm-plex-sans-v14-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/ibm-plex-sans-v14-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/ibm-plex-sans-v14-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/ibm-plex-sans-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/ibm-plex-sans-v14-latin-700.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}

/* ------------------------BODY------------------------ */
html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #222222;
  background: #e5e5e5;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 580px;
  margin: 0 auto;
}

/* ------------------------HEADER------------------------ */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 57px; /*высота шапки */
  align-items: center; /*объекты расположены по центру высоты; */
}

.header__menu {
  flex: 1 1 auto; /*будет расширяться */
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  background: linear-gradient(135deg, #ff26b2 0%, #851bd9 64.06%, #3f0fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item {
  margin: 0px 20px 0px 0px;
}

.menu__link {
  font-family: "IBM Plex Sans";
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}
